[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/devise"]
	path = themes/devise
	url = https://github.com/austingebauer/devise.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "hugo-refresh"]
	path = hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
[submodule "themes/hugo-refresh"]
	path = themes/hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
